body {
  background-color: var(--primary-color);
  overflow-x: hidden;
  
}

p,
a,
h2 {
  font-family: "Carme", sans-serif;
}

#summit-background {
  /* The image used */
  background-image: url("img/bannerSummit.jpg");

  /* Set a specific height */
  height: 95vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --primary-color: #F5F3E1;
  --secondary-color: #fdc298;
  --white-color: #fff;
  --black-color: #000;
  --stroke: #00000021;
}

/* Navbar */

header,
.navbar {
  padding: 1.5rem 3rem;
}

header {
  display: flex;
  justify-content: center;
}

#nav-container {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  width: 55%;
  height: 80px;
  color: #000;
  background: transparent;
  align-items: center;
  justify-content: space-around;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: 0.6s;
}

#nav-container.sticky {
  color: #fff;
  background: #0000007d;
  height: 80px;
  transition: 0.5s;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#navbar-links a {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 3px solid var(--stroke);
  color: #fff;
}

#navbar-links a:hover {
  border-bottom: 3px solid var(--white-color);
  color: var(--primary-color);
  transition: 0.6s;
}

#headline h1 {
  color: var(--white-color);
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 700px;
<<<<<<< HEAD
  margin-top: 15rem;
=======
  margin-top: 300px;
>>>>>>> master
  text-align: center;
}

/* About Us */

#about-us {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-bottom: 6rem;
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
}

#about-us h2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 3rem;
  text-transform: uppercase;
  width: 22%;
  font-size: 60px;
}

#about-us h2 {
  border-bottom: 3px solid var(--black-color);
}

#about-us p {
  font-size: 30px;
  letter-spacing: 10px;
  margin: 5rem auto 2rem auto;
<<<<<<< HEAD
  max-width: 650px;
  margin-top: 3rem;
=======
  max-width: 750px;
  margin-top: 7rem;
>>>>>>> master
  margin-bottom: 2rem;
  text-align: center;
}

#about-us a {
  display: block;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black-color);
  margin: 0 auto;
  border: none;
  background-color: var(--secondary-color);
  width: 327px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
}

#about-us a:hover {
  background-color: #fbb582;
}

#about-us span {
  display: block;
  font-weight: bold;
}

#about-us img {
<<<<<<< HEAD
  width: 49vw;
}

#about-us #about2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
}

=======
  width: 49.5vw;
}

>>>>>>> master
/* Rooms */

#rooms {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-bottom: 6rem;
  border-bottom: 2px solid var(--black-color);
}

#rooms h2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
  text-transform: uppercase;
  width: 22%;
  font-size: 60px;
}

#rooms h2 {
  border-bottom: 3px solid var(--black-color);
}

#rooms p {
  font-size: 30px;
  letter-spacing: 10px;
<<<<<<< HEAD
  margin: auto;
  max-width: 700px;
  margin-top: 2.5rem;
=======
  margin: 5rem auto -2.5rem auto;
  max-width: 750px;
  margin-top: 7rem;
>>>>>>> master
  text-align: center;
}

#rooms .value {
  font-weight: bold;
  margin-bottom: 60px;
}

#rooms a {
  display: block;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black-color);
  margin: 0 auto;
  border: none;
  background-color: var(--secondary-color);
  width: 327px;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
}

#rooms a:hover {
  background-color: #fbb582;
}

#rooms span {
  display: block;
  font-weight: bold;
}

#rooms img {
<<<<<<< HEAD
  width: 49vw;
}

#rooms #grand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row-reverse;
=======
  width: 49.5vw;
>>>>>>> master
}

/* Facilities */

#facilities {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-bottom: 6rem;
  border-bottom: 2px solid var(--black-color);
}

#facilities h2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3.5rem;
  text-transform: uppercase;
<<<<<<< HEAD
  width: 20%;
=======
  width: 22%;
>>>>>>> master
  font-size: 60px;
}

#facilities h2 {
  border-bottom: 3px solid var(--black-color);
}

#facilities li{
  list-style: none;
  font-size: 80px;
}

#facilities ul{
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  padding: 0;
  margin: 0;
=======
>>>>>>> master
  gap: 4rem;
}

/* Bottom Banner */

#banner h3 {
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 700;
  color: #fff;
  text-align: center;
<<<<<<< HEAD
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/bannerFinal.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
=======
  margin-top: 375px;
}

#banner {
  background-image: url(/img/bannerFinal.jpg);
  background-size: cover;
  height: 90vh;
}

.bannerText {
  display: flex;
  align-items: center;
>>>>>>> master
}

/* Back To Top */

#backToTop a {
  text-decoration: none;
  color: #000;
  font-size: 40px;
  font-family: "Playfair Display", serif;
  border-bottom: 3px solid var(--black-color);
<<<<<<< HEAD
}

#backToTop {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
=======
  
}

#backToTop {
  text-align: center;
  height: 50vh;
  padding-top: 12rem;
>>>>>>> master
}

/* Footer */

footer {
  background-color: #DFA878;
<<<<<<< HEAD
}

footer li{
  list-style: none;
  margin-left: 1rem;
=======
  position: static;
  bottom: 0;
}

footer li{
  display: inline;
  list-style: none;
  margin-left: 2rem;
>>>>>>> master
  font-size: 50px;
  font-weight: bold;
}

<<<<<<< HEAD
footer ul{
  padding: 0;
  display: flex;
}

=======
>>>>>>> master
footer p{
  font-size: 20px;
}

<<<<<<< HEAD
#contactArea {
  display: flex;
  justify-content: space-between;
  padding: 50px;
=======
footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
>>>>>>> master
  
}

#copy{
  font-size: 20px;
  text-align: center;
<<<<<<< HEAD
  padding-bottom: 1px;
=======
  padding-bottom: 10px;
>>>>>>> master
}

#copy span {
  font-weight: bold;
<<<<<<< HEAD
}

/*MEDIA QUERYS*/

@media (max-width: 600px){
  
  -background {
  /* The image used */
  background-image: url("img/bannerSummit.jpg");

  /* Set a specific height */
  height: 80vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 500px;
}
  
  #nav-container{
    width: 90vw;
  }

  #headline {
    margin-top: -70px;
  }

  #about-us img,
  #rooms img{
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  #about-us a,
  #rooms a{
    margin-bottom: 2rem;
  }
  
  #about-us p,
#rooms p{
    font-size: 20px;
    max-width: 380px;
  }

  #facilities h2,
  #rooms h2,
  #about-us h2{
    width: 80%;
  }

  #facilities ul{
    display: flex;
    flex-wrap: wrap;
  }

  #banner h3 {
    font-family: "Playfair Display", serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }

  #contactArea {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
=======
>>>>>>> master
}