body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

p,
a,
h2 {
  font-family: "Carme", sans-serif;
}

#summit-background {
  background-image: url(img/bannerSummit.jpg);
  height: 95vh;
  width: 100vw;
  background-size: cover;
}

:root {
  --primary-color: #fffcfc;
  --secondary-color: #fdc298;
  --white-color: #fff;
  --black-color: #000;
  --stroke: #00000021;
}

/* Navbar */
header,
.navbar {
  padding: 1.5rem 3rem;
}

#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}

#navbar-links a {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-bottom: 3px solid var(--stroke);
  color: #fff;
}
#navbar-links a:hover {
  border-bottom: 3px solid var(--white-color);
  color: var(--primary-color);
  transition: 0.6s;
}

#headline h1 {
  color: var(--white-color);
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-size: 80px;
  font-weight: 700px;
  margin-top: 230px;
  text-align: center;
}

#about-us {
  margin-top: 3rem;
  margin-bottom: 5rem;
  padding-bottom: 6rem;
  border-top: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
}

#about-us h2 {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 3rem;
  text-transform: uppercase;
  width: 22%;
  font-size: 60px;
}

#about-us h2 {
  border-bottom: 3px solid var(--black-color);
}

#about-us p {
  font-size: 40px;
  letter-spacing: 10px;
  margin: 5rem 0 2rem 3rem;
  max-width: 650px;
  margin-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
}

#about-us a {
  display: block;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--black-color);
  margin: 0 auto;
  border: none;
  background-color: var(--secondary-color);
  width: 327px;
  font-size: 30px;
}

#about-us a:hover {
  background-color: var();
}

#about-us span {
  display: block;
  font-weight: bold;
}

#aboutus1 {
  width: 49.5vw;
}
