:root {
    --primary-color: #F5F3E1;
    --secondary-color: #fdc298;
    --white-color: #fff;
    --black-color: #000;
    --stroke: #00000021;
  }

.header {
    background-color: #f5f3e1;
    border-bottom: 2px solid #000;
    padding-bottom: 2rem;
}

.main {
    background-color: #f5f3e1;
    overflow-x: hidden;
}

.main p,
.main a,
.main h2 {
  font-family: "Carme", sans-serif;
  color: #212529;
}

.main h2, .main a{
  text-shadow: 1px 1px 5px #0000002f;
}

.main h2{
    margin: 0 auto;
    text-align: center;
    font-weight: 400;
    padding-top: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    width: 22%;
    font-size: 60px;
    color: #212529;
    border-bottom: 3px solid #212529;
}

.about_us {
    border-bottom: 2px solid #000;
    padding-bottom: 3rem;
}



.rooms {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #000;
}

.background_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/bannerFinal.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.background_wrapper h3 {
    font-family: "Playfair Display", serif;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }

  .backTop {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backTop a {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    border-bottom: 3px solid var(--black-color);
    cursor: pointer;
  }

  .backTop a:hover {
    scale: 1.1;
    color: #000;
    border-color: #000;
    transition: .5s;
  }

@media (max-width: 800px) {
    .header {
        padding-bottom: 3rem;
    }

    .main h2{
        max-width: 280px;
        width: 70%;
        font-size: 50px;
    }

    .background_wrapper h3 {
        font-family: "Playfair Display", serif;
        font-size: 50px;
        font-weight: 700;
        color: #fff;
        text-align: center;
      }
}