
.main_content {
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    margin-top: 3rem;
}

.backTop {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .backTop a {
    text-decoration: none;
    color: #000;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    border-bottom: 3px solid var(--black-color);
    cursor: pointer;
  }

  .backTop a:hover {
    scale: 1.1;
    color: #000;
    border-color: #000;
    transition: .5s;
  }